<%= form_for @changeset, @action, [multipart: true, method: :post], fn f -> %>
    <%= label f, :file %>
    <%= file_input f, :file %>
    <%= error_tag f, :file %>

    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>

    <%= submit "Upload" %>
<% end %>