<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Multi-Track Listening!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150925919-1"></script>
    <script>
      if(/multitracklistening\.net/.test(window.location.hostname)) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150925919-1');
      }
    </script>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link "Multi-Track Listening!", to: Routes.home_path(@conn, :index),
            class: "navbar-item app-navbar-brand" %>
          <div class="navbar-item is-hidden-desktop">
            <%= form_tag Routes.mix_path(@conn, :create) do %>
              <%= submit "Create", class: "button is-primary" %>
            <% end %>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= navbar_link @conn, "Home", Routes.home_path(@conn, :index), exact: true %>
          </div>
          <div class="navbar-end is-hidden-touch">
            <div class="navbar-item">
              <%= form_tag Routes.mix_path(@conn, :create) do %>
                <%= submit "Create a Mix", class: "button is-primary" %>
              <% end %>
            </div>
            <%= if @current_user do %>
              <div class="navbar-item">Hello <%= @current_user.username %>!</div>
              <%= navbar_link @conn, "Sign Out", Routes.pow_session_path(@conn, :delete), method: :delete %>
            <% else %>
              <%= navbar_link @conn, "Sign In", Routes.pow_session_path(@conn, :new) %>
              <%= navbar_link @conn, "Sign Up", Routes.pow_registration_path(@conn, :new) %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <main role="main" class="app-main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer app-footer">
      <div class="content has-text-centered">
        <%= render "footer.html" %>
        <%= if Mix.env() == :dev do %>
          <a href="/sent-emails" target="blank" class="link">
            View local emails
          </a>
        <% end %>
      </div>
    </footer>
    <div class="app-notifications">
      <%= Enum.map(get_flash(@conn), fn {flash_key, flash_message} -> %>
        <%= if flash_message do %>
          <div class="<%= notification_class(flash_key) %>" data-is-notification="yes">
            <button class="delete" data-is-delete="yes"></button>
            <%= flash_message %>
          </div>
        <% end %>
      <% end) %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
