<section class="section">
  <div class="container">
    <h1 class="title">Reset Password</h1>

    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <%= password_field f, :password, "Password" %>
      <%= password_field f, :confirm_password, "Confirm password" %>

      <%= submit_field "Submit" %>
    <% end %>

    <div class="auth-footer">
      <%= link "Sign In", to: Routes.pow_session_path(@conn, :new) %>
    </div>
  </div>
</section>
