<section class="section">
  <div class="container">
    <h1 class="title">Reset Password</h1>

    <%= form_for @changeset, @action, [as: :user], fn f -> %>
      <%= text_field f, :email, "Email", type: "email" %>  

      <%= submit_field "Submit" %>
    <% end %>

  </div>
</section>


