@charset "utf-8";

@import './bulma';
@import './fontawesome';

@import './components/form';
@import './components/home';
@import './components/mix-render';
@import './components/published-mix-card';
@import './components/pow';

$app-footer-height: 215px;

.app-footer {
  height: $app-footer-height;
}

.app-main {
  min-height: calc(100vh - #{$app-footer-height} - #{$navbar-height});
}

.app-navbar-brand {
  font-size: $size-5;
  font-weight: $weight-light;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-notifications {
  animation: fade-in 1.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  max-width: 480px;
  padding: 20px;
  flex-flow: column;
}
