.published-mix-card {
  max-width: 400px;
}

.published-mix-card-description {
  font-size: $size-5;
  margin-bottom: 0.5em;
}

.published-mix-card-attribution {
  font-size: $size-6;
  margin-bottom: 1em;
}
