<section class="section">  
  <div class="container">
    <div class="columns">
      <div class="column">
        <%# TODO: Implement featured mixes %>
      </div>
      <div class="column">
        <%= form_tag Routes.mix_path(@conn, :create) do %>
          <%= submit "Create a Mix", class: "button is-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>