<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Multi-Track Listening!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link "Multi-Track Listening!", to: Routes.home_path(@conn, :index),
            class: "navbar-item app-navbar-brand" %>
          <div class="navbar-item is-hidden-desktop">
            <%= form_tag Routes.mix_path(@conn, :create) do %>
              <%= submit "Create", class: "button is-primary" %>
            <% end %>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= navbar_link @conn, "Home", Routes.home_path(@conn, :index), exact: true %>
          </div>
          <div class="navbar-end is-hidden-touch">
            <div class="navbar-item">
              <%= form_tag Routes.mix_path(@conn, :create) do %>
                <%= submit "Create a Mix", class: "button is-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main role="main" class="app-main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer app-footer">
      <div class="content has-text-centered">
        <%= render "footer.html" %>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
