<h2>Finalize Mix</h2>
<%= tag :input, value: "Preview", type: "button", id: "preview_button",
    data: [
        track_one_client_uuid: @mix.track_one.client_uuid,
        track_two_client_uuid: @mix.track_two.client_uuid,
        track_one_url: @track_one_url,
        track_two_url: @track_two_url
    ] %>
<span id="preview_status"></span>