<h2>Render Status</h2>

<div>Rendering...</div>

<div id="render_status">
  <%= display_mix_render_status @mix_render.status %>
</div>

<%= content_tag :audio, nil,
  id: "result_audio",
  controls: true,
  src: mix_render_result_url(@mix_render) %>
