<section class="section">  
  <div class="container">
    <h1 class="title">New Mix – Upload Track One</h1>

    <p class="form-description">Please choose an MP3 file from your computer.</p>

    <%= render "track-upload-form.html", Map.merge(assigns,
      %{ action: Routes.mix_path(@conn, :create_track_one, @mix), track: @mix.track_one }) %>
  </div>
</section>