<section class="section">  
  <div class="container">
    <h1 class="title">New Mix – Upload Track Two</h1>

    <p class="common-form-description">Upload another file for multi-track listening!</p>

    <%= render "track-upload-form.html", Map.merge(assigns,
      %{ action: Routes.mix_path(@conn, :create_track_two, @mix), track: @mix.track_two }) %>
  </div>
</section>