.published-mix-card {
  max-width: 400px;
}

.published-mix-card-attribution {
  font-size: $size-6;
  margin-bottom: 1em;
}

.published-mix-card-audio {
  width: 100%;
}

.published-mix-card-header:hover .published-mix-card-title {
  color: $link-hover;
}
